<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social-it</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @{
        Html.RenderPartial("_PageHeader");
    }
   
    

    <div class="container body-content">
        @RenderBody()
        <footer class="navbar-inverse navbar-fixed-bottom text-center">
            <div><p> </p></div>
            <p style="color: white">
                &copy; @DateTime.Now.Year -
                @Html.ActionLink("Social-it", "Index", "Home", new { @class = "text-decoration-none" }, new { style = "color: white" })
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>