@model SocialIt.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<head>
    <style>
        .form-block {
            float: left;
            width: 100%;
            padding: 50px 0;
        }

        .banner-sec {
            background: url('../../Content/Images/Background Images/password2.png') no-repeat center;
            background-size: cover;
            min-height: 500px;
            border-radius: 0 10px 10px 0;
            padding: 0;
        }

        .containerx {
            background: #fff;
            border-radius: 10px;
            box-shadow: 15px 20px 0px rgba(0,0,0,0);
        }

        .form-sec {
            padding: 20px 30px;
            position: relative;
        }

            .form-sec h2 {
                margin-bottom: 18px;
                font-weight: 800;
                font-size: 30px;
                color: #18bc9c;
            }

                .form-sec h2:after {
                    content: " ";
                    width: 180px;
                    height: 5px;
                    background: #facb57;
                    display: block;
                    margin-top: 20px;
                    border-radius: 3px;
                    margin-left: auto;
                    margin-right: auto
                }
    </style>
</head>
<br />
<section class="form-block">
    <div class="containerx">
        <div class="row">
            <div class="col-md-4 form-sec">
                <h2 class="text-center">Change Password</h2>
                <section class="login-form" style="margin-left: 50px;">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="form-group">
                            <label class="text-uppercase">@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-12 control-label" })</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-uppercase">@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-12 control-label" })</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-uppercase">@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Change Password" class="btn btn-success" style="margin-top: 20px;margin-left: 25px;" />
                            </div>
                        </div>
                    }
                </section>
            </div>
            <div class="col-md-8 banner-sec"></div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}