@model SocialIt.Models.Post

@{
    ViewBag.Title = "Edit Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bg-1 {
        background-color: #c2e9ca;
        color: #ffffff;
        margin-top: 1%;

    }
    a.Back {
        color: white;
        text-decoration: none !important;
    }
</style>
<div class="container-fluid bg-1 text-center">
<h2>Edit Your Post</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostId)

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "xform-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Visibility, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    private
                    @Html.RadioButtonFor(model => model.Visibility, "private")
                    public
                    @Html.RadioButtonFor(model => model.Visibility, "public")
                    friendsOnly
                    @Html.RadioButtonFor(model => model.Visibility, "friendOnly")
                </div>
                @Html.ValidationMessageFor(model => model.Visibility, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Change" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="btn btn-warning">
    <a class="Back" @Html.ActionLink("Back to Home", "Index")</a>
</div>
  

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
